body{
    background-image: url('Transparent.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.btn{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    border-radius: 10px;
    border: 2px solid gold;
    background-color: transparent;
    color: whitesmoke;
    transform: translate(0px,40px);
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    font-family: sans-serif;
}
.btn2{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    border-radius: 10px;
    border: 2px solid gold;
    background-color: transparent;
    color: whitesmoke;
    transform: translate(-110px,80px);
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    font-family: sans-serif;
}
.intro1{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 30px;
    background: radial-gradient(circle, #26c6da, #ef5350, #2196f3, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro2{
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 20px;
    background: radial-gradient(circle, #f48fb1, #7e57c2, #26c6da, #ff5722, #eeff41, #f9a825);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro1 .intro2:hover{
    color: #8a2be2;
    transition: ease-in;
}
.btn:hover{
    transform: translate(0px,35px);
    transition: 0.3s ease-in;
    box-shadow: 0 0 5px gold, 0 0 25px gold, 0 0 50px gold, 0 0 200px gold;
  }
.btn2:hover{
    transform: translate(-110px,75px);
    box-shadow: 0 0 5px gold, 0 0 25px gold, 0 0 50px gold, 0 0 200px gold;
}
.controllerL{
    width: 180px;  
    transform: translate(-400px ,120px) rotate(-35deg);
}
.controllerM{
    width: 180px; 
    transform: translate(0 ,80px);
}
.controllerR{
    width: 180px;
    transform: translate(400px ,120px) rotate(35deg);
}
.controllerL:hover{
    transform: translate(-400px ,120px) rotate(-35deg);
    box-shadow: 0 0 5px #8a2be2, 0 0 25px #8a2be2, 0 0 50px #8a2be2, 0 0 200px #8a2be2;
    transition: 0.3s ease-in;
}
.controllerM:hover{
    transform: translate(0 ,80px);
    box-shadow: 0 0 5px #8a2be2, 0 0 25px #8a2be2, 0 0 50px #8a2be2, 0 0 200px #8a2be2;
    transition: 0.3s ease-in;
}
.controllerR:hover{
    transform: translate(400px ,120px) rotate(35deg);
    box-shadow: 0 0 5px #8a2be2, 0 0 25px #8a2be2, 0 0 50px #8a2be2, 0 0 200px #8a2be2;
    transition: 0.3s ease-in;
}